.backdrop {
    background-color: rgba(47, 48, 58, 0.2);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    box-shadow: 0px -10px 22px -15px rgba(232, 226, 212, 1);
    font-size: $size-m;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 30px);
    max-width: 450px;
    height: 85vh;
    border-radius: 4px;
    background-color: $lightColor;
    overflow: auto;
    @include mq(tablet) {
        font-size: $size-l;
        width: calc(100% - 150px);
        max-width: 800px;
        height: 85vh;
    }
    &__exit {
        background-color: inherit;
        border: none;
        position: absolute;
        top: 3px;
        right: 3px;
        stroke: $fontColor;
        transition-duration: 0.5s;
        &:hover {
            cursor: pointer;
            stroke: $contrastColor;
        }
        @include mq(tablet) {
            top: 10px;
            right: 10px;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 40px;
        line-height: 1.5;
        @include mq(tablet) {
            width: calc(100% - 150px);
            max-width: 800px;
            height: 85vh;
            line-height: 1.8;
            padding: 45px 60px;
        }
        &--header {
            font-size: $size-xl;
            letter-spacing: 2px;
            text-align: center;
            @include mq(tablet) {
                font-size: $size-xxl;
            }
        }
        &--date {
            letter-spacing: 2px;
            margin-top: 5px;
        }
        &--text {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 25px;
            margin-top: 25px;
            list-style-type: disc;
        }
        &--masses {
            display: flex;
            flex-direction: column;
            font-size: $size-s;
        }
        &--blessing {
            font-style: italic;
            letter-spacing: 2px;
            margin-top: 30px;
            font-family: $decorativeFont;
            text-align: center;
            @include mq(tablet) {
                padding-bottom: 40px;
                margin-top: 40px;
            }
        }
    }
}

.info-header {
    font-size: $size-l;
    margin-bottom: 15px;
    text-align: center;
    @include mq(tablet) {
        font-size: $size-xl;
    }
    &--sunday {
        margin-bottom: 3px; 
    }
}

.info-subheader {
    border-bottom: 1px solid $contrastColor;
    color: $contrastColor;
    font-size: $size-s;
    font-weight: $weight-l;
    letter-spacing: 2px;
    margin-bottom: 10px;
    padding-bottom: 3px;
    text-transform: uppercase;
    @include mq(tablet) {
        font-size: $size-m;
        margin-bottom: 15px;
        padding-bottom: 7px;
    }
    &--patron {
        color: rgba(173,131,48, 0.8);
        font-size: $size-xs;
        font-style: italic;
        text-transform: none;
        @include mq(tablet) {
            font-size: $size-s;
        }
    }
}

.info-day {
    font-size: $size-m;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    @include mq(tablet) {
        font-size: $size-l;
    }
    &__place {
        width: 95px;
        @include mq(tablet) {
            width: 130px;
        }
    }
    &__hour {
        width: 45px;
        @include mq(tablet) {
            width: 60px;
        }
    }
    &__intention {
        font-weight: 500;
        width: 40vw;
        max-width: 250px;
        @include mq(tablet) {
            width: 45vw;
            max-width: 460px;
        }
    }
    &--sunday {
        margin-bottom: 15px;
    }
}

.sunday-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 25px;
}

.info-header-add {
    font-size: $size-s;
    letter-spacing: 2px;
    margin-bottom: 5px;
    text-align: center;
    @include mq(tablet) {
        font-size: $size-m;
        margin-bottom: 10px;
    }

}

.bold-data {
    font-weight: 550;
    &--contrast {
        font-style: italic;
    }
}


.is-hidden {
    opacity: 0;
    pointer-events: none;
    transition-property: opacity;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}