.contact {
    border-radius: 25px;
    box-shadow: 0px 0px 33px 4px rgba(232, 226, 212, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    margin: 35px auto 45px auto;
    text-align: center;
    width: 75vw;
    @include mq(tablet) {
        box-shadow: 0px 0px 33px 9px rgba(232, 226, 212, 1);
        width: 50vw;
        max-width: 750px;
    }
    &__header {
        font-size: $size-xl;
        font-weight: $weight-l;
        letter-spacing: 2px;
        margin-bottom: 15px;
        text-transform: uppercase;
        @include mq(tablet) {
            font-size: $size-xxl;
            margin-bottom: 20px;
        }
    }
    &__subheader {
        font-size: $size-m;
        font-weight: $weight-l;
        letter-spacing: 2px;
        margin-bottom: 10px;
        margin-top: 20px;
        text-transform: uppercase;
        @include mq(tablet) {
            font-size: $size-l;
            margin-bottom: 15px;
            margin-top: 25px;
        }
    }
    &__address {
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: $size-m;
        @include mq(tablet) {
            font-size: $size-l;
        }
        &--name {
            font-size: $size-m;
            font-weight: $weight-l;
            @include mq(tablet) {
                font-size: $size-l;
                margin-bottom: 15px;
                margin-top: 25px;
            }
        }
        &--info {
            font-size: $size-m;
            font-style: italic;
            margin-bottom: 15px;
            margin-top: 15px;
            @include mq(tablet) {
                font-size: $size-l;
            }
        }
    }
    &__bank-acc {
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-transform: uppercase;
    }
}

.bank-box {
    display: flex;
    flex-direction: column;
    font-size: $size-m;
    gap: 5px;
    @include mq(tablet) {
        font-size: $size-l;
    }
    &__name {
        color: $contrastColor;
        font-size: $size-xs;
        font-weight: $weight-l;
        letter-spacing: 2px;
        text-align: left;
        @include mq(tablet) {
            font-size: $size-s;
        }
    }
}