footer {
    background-color: $bgColor;
    box-shadow: 0px -10px 22px -15px rgba(232, 226, 212, 1);
    padding-bottom: 25px;
    padding-top: 25px;
}

.footer {
    display: flex;
    flex-direction: column;
    font-size: $size-s;
    justify-content: center;
    @include mq(tablet) {
        font-size: $size-m;
        flex-direction: row;
        justify-content: space-between;
    }
    &__element {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: auto;
        // align-items: center;
        gap: 10px;
        @include mq(tablet) {
            align-items: flex-start;
            margin: 0;
            gap: 15px;
        }
        &--header {
            font-weight: $weight-l;
        }
        // &--margin {
        //     margin-top: 20px;
        // }
        &--right {
            display: none;
            @include mq(tablet) {
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;
                gap: 28px;
            }
        }
        &--mobile {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 60px;
            margin-top: 30px;
            transition-duration: 0.5s;
            @include mq(tablet) {
                display: none;
            }
        }
    }
    &__graphics {
        &--icon {
            display: none;
            @include mq(tablet) {
                display: flex;
                margin: auto;
                margin-top: -145px;
            }
        }
    }
    &__info {
        color: $contrastColor;
        display: flex;
        flex-direction: column;
        gap: 3px;
        align-items: center;
        font-size: $size-xs;
        margin-top: 30px;
        letter-spacing: 1.5px;
        text-align: center;
        @include mq(tablet) {
            font-size: $size-s;
        }
        &--author {
            letter-spacing: 1.2px;
            font-size: $size-xxs;
            @include mq(tablet) {
                font-size: $size-xs;
            }
        }
    }
}

.footer-contact {
    fill: $fontColor;
    transition-duration: 0.5s;
    &:focus,
    &:hover {
      color: $contrastColor;
      fill: $contrastColor;
    };
    @include mq(tablet) {
        font-size: $size-m;
    }
    &__icon {
        height: 24px;
        width: 24px;
        @include mq(tablet) {
            margin-left: 20px;
            margin-bottom: -7px;
            height: 18px;
            width: 18px;
        }
    }
}