footer {
    background-color: $bgColor;
    box-shadow: 0px -10px 22px -15px rgba(232, 226, 212, 1);
    padding-bottom: 25px;
    padding-top: 25px;
}

.footer {
    display: flex;
    flex-direction: row;
    font-size: $size-s;
    justify-content: space-between;
    @include mq(tablet) {
        font-size: $size-l;
    }
    &__element {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10;
        @include mq(tablet) {
            gap: 15;
        }
        &--right {
            display: none;
            @include mq(tablet) {
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;
                gap: 28;
            }
        }
        &--mobile {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12;
            transition-duration: 0.5s;
            @include mq(tablet) {
                display: none;
            }
        }
    }
    &__graphics {
        &--icon {
            display: none;
            @include mq(tablet) {
                display: flex;
                margin: auto;
                margin-top: -135px;
            }
        }
    }
    &__info {
        color: $contrastColor;
        display: flex;
        flex-direction: column;
        gap: 3;
        align-items: center;
        font-size: $size-xxs;
        margin-top: 30px;
        letter-spacing: 1.5px;
        text-align: center;
        @include mq(tablet) {
            font-size: $size-s;
        }
        &--author {
            letter-spacing: 1.2px;
            font-size: $size-xxxs;
            @include mq(tablet) {
                font-size: $size-xs;
            }
        }
    }
}

.footer-contact {
    fill: $fontColor;
    font-size: $size-m;
    transition-duration: 0.5s;
    &:focus,
    &:hover {
      color: $contrastColor;
      fill: $contrastColor;
    };
    @include mq(tablet) {
        font-size: $size-l;
    }
    &__icon {
        @include mq(tablet) {
            margin-left: 20px;
            margin-bottom: -7px;
        }
    }
}