.nav {
  font-size: $size-xl;
  font-weight: $weight-l;
  letter-spacing: 1.2;
  margin-top: 50px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__side {
    display: flex;
    flex-direction: column;
    width: 450px;
  }
  &__line {
    border-bottom: 1px solid $contrastColor;
    margin-top: 50px;
  }
}

.nav-box {
  display: flex;
  flex-direction: row;
  gap: 80;
  justify-content: space-between;
  &__link {
    transition-duration: 0.5s;
    &:focus,
    &:hover {
      color: $contrastColor;
    };
  }
  &--left {
    margin-right: 20px;
  }
  &--right {
    margin-left: 20px;
  }
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: -140px;
  &__img {
  height: 25%;
  width: 25%;
  margin-top: 50px;
  @include mq(tablet) {
    height: 15%;
    width: 15%;
  }
}
}