.nav {
  font-size: $size-xl;
  font-weight: $weight-l;
  letter-spacing: 1.2;
  margin-top: 50px;
  text-transform: uppercase;
  text-wrap: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include mq(tablet) {
    font-size: $size-m
  }
  @include mq(desktop) {
    font-size: $size-xl;
  }
  &__side {
    display: flex;
    flex-direction: column;
    @include mq(tablet) {
      width: calc((90vw - 164px) / 2);
      max-width: 500px;
    }
    @include mq(desktop) {
      width: calc((90vw - 234px) / 2);
      max-width: 500px;
    }
  }
  &__line {
    border-bottom: 1px solid $contrastColor;
    margin-top: 50px;
  }
}

.nav-box {
  display: flex;
  flex-direction: row;
  gap: 80;
  justify-content: space-between;
  @include mq(tablet) {
    gap: 10;
  }
  @include mq(desktop) {
    gap: 80;
  }
  &__link {
    transition-duration: 0.5s;
    &:focus,
    &:hover {
      color: $contrastColor;
    };
  }
  &--left {
    margin-right: 20px;
  }
  &--right {
    margin-left: 20px;
  }
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: -140px;
  &__img {
  height: 25%;
  width: 25%;
  margin-top: 50px;
  @include mq(tablet) {
    height: 168px;
    width: 199px;
  }
  @include mq(desktop) {
    height: 198px;
    width: 234px;
  }
}
}