// gallery styles
.gallery {
    height: calc(100vh - 220px);
    box-shadow: 22px -10px 22px -15px rgba(232, 226, 212, 1);
    margin-top: 25px;
    overflow: hidden;
    width: 100%;
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        & img {
            display: none;
            width: 100%;
            &.img-active {
                display: inline-block;
                opacity: 1;
            }
        }
    }
}

// button announements 
.info {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 38%;
    top: 60%;   
    &__button {
        background-color: rgba(250, 250,250, 0.6);
        border: 2px solid $fontColor;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba(1, 28, 80, 0.3);
        color: $fontColor;
        cursor: pointer;
        font-family: $defaultFont;
        font-size: $size-l;
        font-weight: $weight-l;
        letter-spacing: 2px;
        padding: 20px 40px;
        text-transform: uppercase;
        transition-duration: 0.5s;
        &:focus,
        &:hover {
            background-color: $fontColor;
            color: $lightColor;
        //   color: $contrastColor;
        };
    }
}

// masses
.masses {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 25px;
    &__header {
        font-size: $size-xl;
        font-weight: $weight-l;
        letter-spacing: 2px;
        margin-bottom: 20px;
        text-align: center;
        text-transform: uppercase;
        @include mq(tablet) {
            font-size: $size-xxl;
            justify-content: center;
            align-items: center;
        }
    }
}

.masses-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25;
    @include mq(tablet) {
        flex-direction: row;
        gap: 100;
        justify-content: center;
    }
    @include mq(desktop) {
        flex-direction: row;
        gap: 150;
        justify-content: center;
    }
}

.masses-subheader {
    font-size: $size-l;
    letter-spacing: 2px;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
    @include mq(tablet) {
        font-size:
        $size-xl;
    }
    &--left {
        text-align: center;
    }
}

.masses-hours {
    display: flex;
    font-size: $size-m;
    gap: 15px;
    justify-content: flex-start;
    margin-left: 55px;
    @include mq(tablet) {
        font-size: $size-xl;
        gap: 25px;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
    &__item {
        margin-bottom: 10px;
    }
}

.masses-position {
    text-align: left;
}

.masses-txt {
    font-size: $size-xs;
    font-style: italic;
    letter-spacing: 1.1px;
    margin-top: 15px;
    text-align: center;
    text-transform: none;
    @include mq(tablet) {
        font-size: $size-m;
    }
}