// button announcements & background
.announcements{
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../images/churches/jaworow.jpg");
    background-color: $bgColor;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    padding-top: 30vh;
    padding-bottom: 30vh;
    @include mq(tablet) {
        margin-top: 23px;
    }
    &__button {
        background-color: rgba(250, 250,250, 0.6);
        border: 2px solid $fontColor;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba(1, 28, 80, 0.3);
        color: $fontColor;
        cursor: pointer;
        font-family: $defaultFont;
        font-size: $size-l;
        font-weight: $weight-l;
        letter-spacing: 2px;
        padding: 10px 20px;
        text-transform: uppercase;
        transition-duration: 0.5s;
        &:focus,
        &:hover {
            background-color: $fontColor;
            color: $lightColor;
        };
        @include mq(tablet) {
            font-size: $size-xl;
            padding: 20px 40px;
        }
    }
}

// masses
.masses {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 25px;
    &__header {
        font-size: $size-xl;
        font-weight: $weight-l;
        letter-spacing: 2px;
        margin-bottom: 15px;
        text-align: center;
        text-transform: uppercase;
        @include mq(tablet) {
            font-size: $size-xxl;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }
    }
}

.masses-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    @include mq(tablet) {
        flex-direction: row;
        gap: 100px;
        justify-content: center;
    }
    @include mq(desktop) {
        flex-direction: row;
        gap: 150px;
        justify-content: center;
    }
}

.masses-subheader {
    font-size: $size-l;
    letter-spacing: 2px;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    @include mq(tablet) {
        font-size:
        $size-xl;
    }
    &--left {
        text-align: center;
    }
}

.masses-hours {
    display: flex;
    font-size: $size-m;
    gap: 15px;
    justify-content: flex-start;
    @include mq(tablet) {
        font-size: $size-xl;
        gap: 25px;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
    &__item {
        margin-bottom: 10px;
    }
}

.masses-position {
    text-align: left;
}

.masses-txt {
    font-size: $size-xs;
    font-style: italic;
    letter-spacing: 1.1px;
    margin-top: 15px;
    text-align: center;
    text-transform: none;
    @include mq(tablet) {
        font-size: $size-m;
    }
}