.michael-prayer {
    background: url(../../images/michael_image.png);
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 190px;
    text-align: center;
    width: 100%;
    &__title {
        font-size: $size-xl;
        font-weight: $weight-l;
        letter-spacing: 2px;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    &__text {
        font-size: $size-m;
        margin-top: -10px;
        line-height: 2;
        @include mq(tablet) {
        font-size: $size-xl;
        margin-top: 25px;
        }
    }
}