.michael-prayer {
    background: url(../../images/michael_image.png);
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
}

.text {
    font-size: $size-m;
    margin-top: -10px;
    line-height: 2;
    @include mq(tablet) {
        font-size: $size-xl;
        margin-top: 25px;
    }
}

.michael-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    @include mq(tablet) {
        padding-top: 250px;
    }
}

.title {
    text-transform: uppercase;
}