// media query
$breakpoints: (
  'phone': 320px,
  'tablet': 768px,
  'desktop': 1280px,
);

@mixin mq($key) {
  $size: map-get($breakpoints, $key);
  @if ($size) {
    @media only screen and (min-width: $size) {
      @content;
    }
  } @else {
    @error '`#{$key}` does not exist in the $breakpoints';
  }
}

// colors
$fontColor: #011C50;
$lightColor: #FAFAFA;
$bgColor: #E8E2D4;
$contrastColor: #AD8330;

// fonts 
$defaultFont: "Montserrat", sans-serif;
$decorativeFont: "Yeseva One", serif;
$size-xxxs: 6px;
$size-xxs: 8px;
$size-xs: 10px;
$size-s: 12px;
$size-m: 14px;
$size-l: 16px;
$size-xl: 18px;
$size-xxl: 22px;
$size-xxxl: 24px;
$weight-s: 200;
$weight-m: 400;
$weight-l: 600;